<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "sk.dflexnr.taxiclient"
        versionCode = "105"
        version     = "1.0.5">
 
    <name>TAXI client</name>
  
    <description>
        TAXI client application
    </description>
 
    <author href="http://dflexnr.sk" email="pko@dflexnr.sk">
        Peter Kotry
    </author>
  <icon src="img/phoneicon.png" />
    
  <preference name="load-url-timeout" value="60000" />
  <preference name="phonegap-version" value="2.9.0" />
    <access origin="*" />
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
</widget>
